@import "../../styles/breakpoints.scss";
@import "../../styles/shadows.scss";

.page404 {
  display: flex;
  align-items: center;
  height: calc(100vh - 175px);
  width: 90vw;
  margin: 0 5vw;
  @include sm {
    height: calc(100vh - 275px);
  }
  @include md {
    height: calc(100vh - 375px);
  }

  & .page404-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    @include lg {
      width: 800px;
    }

    & .header {
      font-size: 62px;
      font-weight: 700;
      color: black;
      position: relative;
      z-index: 10;
      @include sm {
        font-size: 92px;
      }
      @include md {
        font-size: 128px;
      }
    }

    & .title {
      font-size: 28px;
      font-weight: 500;
      color: white;
      margin: 35px 0 0 15px;
      width: 150px;
      position: relative;
      z-index: 10;
      @include sm {
        font-size: 48px;
        margin: 45px 0 0 15px;
        width: 275px;
      }
      @include md {
        font-size: 68px;
        margin: 55px 0 0 25px;
        width: 375px;
      }
    }
  }
}
