@import "../../../../styles/breakpoints.scss";
@import "../../../../styles/shadows.scss";

.s1-gradient-bg {
  display: block;
  position: relative;
  height: 100%;
  margin-top: -75px;
  padding-top: 75px;
  background: url("../../../../assets/texture/texture-bg.png"),
    linear-gradient(to bottom right, #060026, rgba(58, 52, 162, 0.83));
  overflow: hidden;
}

.s1 {
  display: block;
  position: relative;
  height: calc(100vh + 35px);
  min-height: 600px;
  @include lg {
    height: calc(100vh + 100px);
  }

  & .cta-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 5;
    padding: 60px 0 0 0;
    @include sm {
      padding: 100px 0 0 0;
    }
    @include lg {
      padding: 0;
      position: absolute;
      top: 40%;
      transform: translateY(-50%);
    }
    & .left {
      display: block;

      h1 {
        display: block;
        color: white;
        font-weight: 500;
        font-size: 40px;
        padding: 5px 0;
        margin: 0;
        text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
        @include sm {
          font-size: 50px;
        }
        @include lg {
          font-size: 60px;
        }
      }
      h2 {
        display: block;
        color: white;
        font-weight: 300;
        font-size: 17px;
        padding: 20px 0 0 0;
        margin: 0;
        line-height: 28px;
        @include sm {
          font-size: 21px;
          line-height: 38px;
        }
        @include md {
          width: 600px;
        }
        @include lg {
          font-size: 24px;
          line-height: 48px;
          width: 550px;
        }
      }
      & .cta-btn-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        z-index: 5;
        margin: 40px auto 0 auto;
        @include sm {
          justify-content: flex-start;
        }
        @include lg {
          margin: 80px 0 0 0;
          width: 450px;
        }
        & .cta-btn {
          display: inline-block;
          position: relative;
          color: #060026;
          background-color: white;
          box-shadow: $shadow-regular;
          border: none;
          border-radius: 0.25rem;
          padding: 12px 38px;
          font-size: 16px;
          font-weight: 300;
          width: 200px;
          height: 45px;
          margin: 0 25px;
          cursor: pointer;
          &.dark {
            color: white;
            background-color: #272727;
            margin-top: 20px;
            @include rwd(556) {
              margin-top: 0;
            }
            @include sm {
              margin-top: 0;
            }
            &:hover {
              box-shadow: $shadow-soft;
            }
          }
          &:hover {
            box-shadow: $shadow-soft-light;
          }
          &:first-child {
            @include sm {
              margin-left: 0;
              margin-right: 15px;
            }
          }
          @include md {
            font-size: 18px;
            padding: 12px 32px;
            &:first-child {
              margin-right: 25px;
            }
          }
          @include lg {
            width: 180px;
          }
        }
        & .cta-btn-subtitle-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          margin-top: 25px;
          width: 90vw;
          @include sm {
            justify-content: flex-start;
          }

          & .cta-btn-subtitle {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            color: white;
            margin: 5px 0;
            cursor: pointer;
            &:hover {
              text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
            }
            @include sm {
              display: inline-flex;
              justify-content: flex-start;
              &:first-of-type {
                margin-right: 25px;
              }
            }

            & svg {
              display: block;
              margin-left: 8px;
              height: 18px;
              width: 18px;
            }
          }
        }
      }
    }
    & .right {
      & .phoenix-r {
        display: block;
        margin-left: -10%;
        object-fit: cover;
        opacity: 0.3;

        @include xl {
          margin-left: 25%;
        }
        @include xxl {
          margin-left: 30%;
          width: 110%;
        }
        @include xxxl {
          margin-left: 50%;
          width: 130%;
        }
      }
    }
  }

  & .logo-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 100vw;
    margin: 0 -5vw;
    bottom: 125px;
    @include sm {
      bottom: 300px;
    }
    @include lg {
      width: 100%;
      margin: 0 auto;
      bottom: 20vh;
    }
    & .logo-logo {
      display: block;
      position: relative;
      z-index: 3;
      height: 25px;
      object-fit: contain;
      filter: grayscale(1);
      &.light {
        filter: grayscale(1) brightness(1.75);
      }
      &.lighter {
        filter: grayscale(1) brightness(3.5);
      }
      &:hover {
        filter: grayscale(0);
      }

      @include sm {
        height: 30px;
      }
      @include md {
        height: 35px;
      }
      @include lg {
        height: 40px;
      }
      @include xl {
        height: 45px;
      }
    }
  }

  & .phoenix-bg {
    display: block;
    position: absolute;
    z-index: 1;
    height: 100vh;
    bottom: 0;
    right: 0;
    transform: translate(50%, 22.5%);
    object-fit: cover;
    opacity: 0.15;
  }
}
