@import "../../../../styles/breakpoints.scss";
@import "../../../../styles/shadows.scss";

.v1 {
  display: block;
  position: relative;
  z-index: 5;
  height: 100%;
  margin: 0 2.5% -75px 2.5%;
  border-radius: 0.5rem;
  height: 160px;
  background-color: #272727;
  box-shadow: $shadow-regular;
  top: -65px;
  overflow: hidden;
  @include sm {
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
  }
  @include md {
    display: flex;
    justify-content: space-between;
    min-width: 650px;
    max-width: 70%;
    height: 100%;
  }

  & .stats-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    padding: 15px;
    border-bottom: solid 1px #534d4d;
    &:last-child {
      border-bottom: none;
    }
    @include md {
      display: block;
      padding: 45px;
      text-align: center;
    }

    & .stats-unit {
      display: block;
      font-size: 12px;
      color: #bbbbbb;
      @include md {
        width: 100%;
        font-size: 14px;
        margin-bottom: 12px;
      }
    }
    & .stats-value {
      display: block;
      font-size: 16px;
      color: white;
      @include md {
        width: 100%;
        font-size: 20px;
      }
    }
  }
}
