@import "styles/breakpoints.scss";
@import "assets/fonts/fonts.scss";

body {
  margin: 0;
  font-family: "OpenSans" !important;
  letter-spacing: 1px;
  @include lg {
    overflow-x: hidden;
  }
}

:focus {
  outline: none !important;
}

.Toastify__toast-container {
  z-index: 10000000 !important;
  &.Toastify__toast-container--bottom-right {
    top: auto;
    bottom: 0;
  }
  & .Toastify__toast {
    font-family: "OpenSans" !important;
    @include md {
      border-radius: 0.25rem !important;
    }
  }
}

.max-width-container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  @include rwd(1440) {
    max-width: 1440px;
  }
}

svg#tri-separator {
  pointer-events: none;
  &.rotate {
    margin-top: 0px;
    margin-bottom: -6px;
    transform: rotate(180deg);
  }
  &.darker {
    path {
      fill: #252525;
      stroke: #252525;
    }
  }
}
